.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.detail__backgroundImg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.detail__contents {
    position: relative;
    z-index: 2;
}